<nav
  class="flex justify-between bg-black border-b border-gray-100 dark:border-gray-700 p-2 text-gray-200"
  data-controller="navbar">
  <div class="container flex items-center">
    <div class="flex sm:hidden" data-action="click->navbar#toggleMenu">
      <%= render LinkComponent.new.with_content(
        render MenuIconComponent.new
      ) %>
    </div>
    <div class="hidden sm:flex flex-col sm:flex-row container" data-navbar-target="menu">
      <%= render LinkComponent.new.with_content(link_to "Anasayfa", root_path) %>
      <% @list_of_links.each_with_index do |link| %>
        <%= render LinkComponent.new.with_content(link) %>
      <% end %>
    </div>
  </div>
  <%#
      my-px and p-1 classes also used in Links Component.
      Ok, but this is not best practice.
  %>
  <div class="p-1 text-right">
    <%= render LinkComponent.new.with_content(content) %>
  </div>
</nav>
