<nav 
  class="flex justify-between bg-black border-b dark:border-gray-700 overflow-hidden p-2 text-gray-200">
  <div class="div flex-col sm:flex-row">
    <% @list_of_links.each do |link| %>
      <%= render LinkComponent.new.with_content(link) %>
    <% end %>
    <% content %>
  </div>
</nav>
