<nav class="flex bg-black dark:bg-gray-700 overflow-hidden invisible sm:visible">
  <%= render LinkComponent.new(title: "Anasayfa", link: "#") %>
  <%= render LinkComponent.new(title: "Hakkımda", link: "#") %>
  <%= render LinkComponent.new(title: "İletişim", link: "#") %>
</nav>
<%= content %>
