.flex.flex-col.justify-center.items-center.container#postList{ |
  "data-controller": "scroller",
  "data-scroller-target": "posts"
}
  = render PostPreviewComponent.with_collection(@posts)
  .hidden{"data-scroller-target": "pagy"}= raw helpers.pagy_nav(@pagy)
