<turbo-frames class="flex flex-col sm:flex-row rounded border-black">
  <%= @picture %>
  <div class="flex flex-col">  
    <div class="font-light tracking-wide sm:tracking-widest sm:font-extralight antialised">
      <%= @title %>
    </div>
    <div class="text-base lg:text-lg antialised">
      <%= @body %>
    </div>
  </div>
</turbo-frames>
