<div class="mx-auto md:w-2/3 w-full">
  <%= render HeaderComponent.new.with_content("Yeni Kitap Oluştur!"), class: "p-2" %>
  <p class="p-4">
  İsim, projenin ana dizinindeki markdown dizinin altındaki bölümleri barındıran dizinle aynı olmalıdır. Örneğin:
  <ul class="p-2 list-disc hover:list-none">
    <li>Kitap adı: Kara Tilki Hiyerarşisi</li>
    <li>Konum: <%= Rails.root %>/markdown/karatilkihiyerarsisi</li>
  </ul>
  <p class="p-8">Veritabanına kitap adı burada belirtildiği gibi girecektir, ancak dizin aranırken büyük harfler küçük harfe dönüştürülecek, boşluklar silinecek ve Türkçe harfler muadili harflerle değiştirilecektir.</p>
  </p>

  <%= render "form", book: @book %>
</div>
