.flex.justify-between.items-center.flex-col.w-full
  - @posts.each do |post|
    = render PostPreviewComponent.new( title: post.title,
      body: post.preview_text,
      picture: post.picture ).with_content(link_to "...devamı", post)
