<div class="w-full">
  <%# <% if notice.present? %1> %>
  <%#   <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %1></p> %>
  <%# <% end %1> %>

  <%# <div class="flex justify-between items-center"> %>
  <%#   <h1 class="text-lg font-bold text-4xl">Posts</h1> %>
  <%#   <%= link_to 'New post', new_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %1> %>
  <%# </div> %>

  <%# <div id="posts" class="min-w-full"> %>
  <%#   <%= render @posts %1> %>
  <%# </div> %>

  <div class="flex justify-between items-center flex-col">
    <h1 class="text-center font-bold font
  </div>
</div>
