.container
  -# Bağlantılı resim nasıl eklenecek?
    Belki de bağlantılı resim yerine içerikteki ilk resmi almalı.
    Başlık çubuğu düzenlebilir olmalı ve başlık olarak kaydedilmeli.
  .text-center= render HeaderComponent.new.with_content("Yeni Gönderi")
  = render "form", post: @post
