.container
  -# Başa ilgili resim gelecek
  .text-center= render HeaderComponent.new.with_content(@category.name)
  .antialised.text-center.my-6= @category.information
  = render PostListComponent.new(posts: @category_posts, pagy: @pagy)
